<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
	<parameter name="browserType" value="chrome" />
	<parameter name="appURL" value="https://google.com" />

	<listeners>
		<listener class-name="com.newgen.base.TestListener" />
	</listeners>
	
	<test name="Admin Tests">
		<classes>
			<class name="com.newgen.tests.BasePageTest" />
			<class name="com.newgen.tests.SignInPageTest" />
			<class name="com.newgen.tests.CreateAccountTest" />
		</classes>
	</test>
</suite>